html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body {
    line-height: 2;
    font-family: 'Geneva', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
img {
    max-width: 100%;
    display: block;
}

p {
    margin: 0;
}

.logo{
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

  /* .main-nav */
  .main-nav {
      display: none;
  }

.page-header {
    background-color: rgb(27, 65, 122);
    color: white;
    position: relative;
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.page-header h1 {
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.page-header .nav-icon {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: white;
}

/* .main-content */
.main{
    padding: 1em;
    border-bottom: 1px solid #ddd;
    display: block;
    width: 960px;
    margin: auto;
}

.project-thumb {
    position: relative;
    width: 50%;
    float: left;
    background-color: hsla(0,100%,100%,0.5);
    border: 1px solid #fff;

}
.project-thumb:hover{
    background-color: hsla(0,0%,0%,0.5)
}
.project-thumb img{
    position: relative;
    z-index: -10;
}
.project-thumb h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    color: #000;
}
.project-thumb:hover h3{
    color: #fff;
}



/* nav-open */

.nav-open .main-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    min-height: 100%;
}

.nav-open .page-content {
    transform: translateX(50%);
    border: 1px solid lightgray;
}




/* main-nav */
.main-nav {
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
}

.main-nav ul {
    margin-top: 2.1em;
    list-style-type: none;
}

.main-nav li {
    margin: 1em 0;
}

.main-nav a {
    color: rgb(27, 65, 122);
    text-decoration: none;
}

.main-nav .close-icon {
    font-style: normal;
    position: absolute;
    top: 2.3rem;
    right: 1em;
    line-height: 0.75;
    color: rgb(27, 65, 122);
}

.main-nav li {
    position: relative;    
}

.main-nav li.is-active:before {
    content: '';
    display: block;
    border: 0.5em solid transparent;
    border-left-color: rgb(27, 65, 122);
    position: absolute;
    left: -1em;
    top: 50%;
    transform: translateY(-50%);
}


.jumbotron {
    /* background: hsla(0, 100%, 50%, 0.5); */
    padding: 0;
    position: relative;
}
.jumbotron__bg {
    display: block;
    position: relative;
    z-index: -10;
    width: 100%;
}


footer {
    width: 100%;
    color: gray;
    text-align: center;
    padding: 10px;
    font-size: 100%;
    line-height: 150%;
    font-weight: lighter;
    padding: 30px;
    clear: both;
    margin-top: 20px;
}


.amenities img {
    width: 120px;
    float: left;
    margin-left: 25px;
    margin-bottom: 15px;
}

iframe {
    width: 475px;
    height: 400px;
    margin-right: 10px;
}

.contact {
    float: right;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 40%;
    background-color: rgb(27, 65, 122);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #5f5f5f;
  }
  
  form {
    border-radius: 5px;
    padding: 20px;
    height: 575px;
    border-color: white;
    border-width: 1px;
    border-style: dashed;
    background-color: #a7cece;
}


footer h3{
    margin: 0;
}

footer a {
    text-decoration: none;
    color: gray;
}



footer{
    margin-left: auto;
    margin-right: auto;
}

a:-webkit-any-link{text-decoration:none;}


#guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: white;
    border-width: 1px;
    border-style: dashed;
    background-color: #a7cece;
    padding: 25px;
}