html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: serif;
    line-height: 1.4;
}
img {
    max-width: 100%;
    display: block;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

  /* .main-nav */
  .main-nav {
      display: none;
  }

.page-header {
    background-color: red;
    color: purple;
    position: relative;
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.page-header h1 {
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.page-header .nav-icon {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

/* .main-content */
.main{
    padding: 1em;
    border-bottom: 1px solid #ddd;
    display: block;
    width: 960px;
    margin: auto;
}

.project-thumb {
    position: relative;
    width: 50%;
    float: left;
    background-color: hsla(0,100%,100%,0.5);
    border: 1px solid #fff;
}
.project-thumb:hover{
    background-color: hsla(0,0%,0%,0.5)
}
.project-thumb img{
    position: relative;
    z-index: -10;
}
.project-thumb h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    color: #000;
}
.project-thumb:hover h3{
    color: #fff;
}



/* nav-open */
.nav-open {
    overflow: hidden;
}
.nav-open .main-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    border: 1px solid purple;
    min-height: 100%;
}

.nav-open .page-content {
    transform: translateX(50%);
    border: 1px solid red;
}

.main-nav {
    background-color: purple;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
}

.main-nav ul {
    margin-top: 1.5em;
    list-style-type: none;
}

.main-nav li {
    margin: 1em 0;
}

.main-nav a {
    color: red;
    text-decoration: none;
}

.main-nav .close-icon {
    font-style: normal;
    position: absolute;
    top: 1.1rem;
    right: 1em;
    line-height: 0.75;
    color: red;
}


.main-nav li {
    position: relative;    
}

.main-nav li.is-active:before {
    content: '';
    display: block;
    border: 0.5em solid transparent;
    border-left-color: red;
    position: absolute;
    left: -1em;
    top: 50%;
    transform: translateY(-50%);
}


.jumbotron {
    /* background: hsla(0, 100%, 50%, 0.5); */
    padding: 0;
    position: relative;
}
.jumbotron__bg {
    display: block;
    position: relative;
    z-index: -10;
    width: 100%;
}

